@define-mixin tag {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.a,
.b,
.c {
  @mixin tag;
}
.a {
  background: red;
}
.b {
  background: green;
}

.c {
  background: yellow;
}
