
@import "./common/variables.css";

@import './common/public.css';

@import './common/variables_next.css';


/*全局变量*/
$red: #ff0000;

.link{
  color:$red;
}

@define-mixin eTag {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
